@import "../../../styles/variables.scss";

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
    justify-content: center;
}

span {
    font-size: 13px;
    text-decoration: underline;
    color: $secundary-color;
    text-align: end;
}

.login__icons {
    display: flex;
    gap: 10px;
    width: 100%;
}

.login__icons img {
    width: 20px;
}

.icons__buttons {
    width: 33.33%;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login__icons .icons__buttons:nth-child(1) {
    background-color: #1B77F3;
}
.login__icons .icons__buttons:nth-child(2) {
    background-color: #ECECEC;
}
.login__icons .icons__buttons:nth-child(3) {
    background-color: #000000;
}