<main>
    <section class="login-part">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <button class="primary-btn" (click)="submit()">{{primaryBtnText}}</button>

        <div class="divider">
            <div></div>
                <span>OR</span>
            <div></div>
        </div>
        
        <button
         class="secondary-btn"
         (click)="navigate()"
         [disabled]="disablePrimaryBtn"
         >
         {{secondaryBtnText}}</button>
    </section>

    <section>
        <img src="../../../assets/svg/image.png" class="walppaper"/>
    </section>

</main>