@import "../../../styles/variables.scss";

main {

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: 100%;
  height: 100vh; // ocupa a tela toda
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; // cria contexto para o position absoluto dos filhos

  section {
    &.login-part {
      position: relative; // mantém o login "na frente"
      z-index: 2; // garante que esteja acima do fundo
      background: rgb(255, 255, 255);
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      gap: 34px;
    }

    .walppaper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // a imagem preenche sem distorcer
      z-index: 1; // fica atrás do login
    }
  }

  button {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;


    &.primary-btn {
        background-color: $primary-color;
        color: white;
        box-shadow: 0px 8px 12px rgba(148, 64,255,0.2);

        &:disabled {
      opacity: 0.1;
      cursor: not-allowed;
    }
    }

        &.secondary-btn {
        background-color: transparent;
        color: $primary-color;
        border: 0.5px;
        border-style: solid;
        border-color: $primary-color;
    }
  }

  .divider {
        font-size: 12px;
        color: $gray-bg;
        font-weight: 400;
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;

        div {
            flex-grow: 1;
            height: 1px;
            background-color: $gray-bg;
        }
    }
}
