<app-default-login-layout
    title="Fazer Login"
    primaryBtnText = "Login now"
    secondaryBtnText = "Sign up now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
            <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="seuemail@gmail.com"
            >
                <img src="/assets/svg/email.svg"/>
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
            >
                <img src="/assets/svg/password.svg"/>
        </app-primary-input>
        <span>Esqueceu sua senha?</span>

        <div class="login__icons">
            <button type="button" class="icons__buttons">
                <img src="../../../assets/icons/facebook-icon.png" alt="facebook-icon">
            </button>

            <button type="button" class="icons__buttons">
                <img src="../../../assets/icons/google-icon.png" alt="google-icon">
            </button>
        
        <button type="button" class="icons__buttons">
            <img src="../../../assets/icons/apple-icon.png" alt="apple-icon">
        </button>
        </div>

    </form>
</app-default-login-layout>
